	  .container, .container-fluid, .card{
      margin-top: 65px;
    }
    .dropdown-item:hover{
      background-color: #ddd;
    }
    .navbar{
      padding: 0px 0px 0px 20px;
    }
    .navbar-brand,.navbar-brand:hover{
      color: #000;
    }
    .navbar-brand span{
      color: #fff;
    }
    .navbar-brand img{
      margin-right: 10px;
    }
    .hamburger{
    width: 20px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    }
    .navbar-toggler:focus,.hamburger:focus{
      outline:0;
    }
    .dropbtn {
        background: #2196F3;
        color: #fff;
        vertical-align: middle;
        padding: 3px 10px 3px 10px;
        font-size: 16px; 
        border: none;
      }
    .dropdown {
         position: relative;
         display: inline-block;
      }
    .dropdown-content {
        display: none;
        position: absolute;       
        min-width: 150px;
        padding-top: 5px;
        z-index: 1;
      }
    .dropdown-content a {
        color: #000;
        background-color: #f1f1f1;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        transition: 0.5s;
      }
    .dropdown-content a:hover {
        background-color: #ddd;
        text-decoration: none;
        color: #000;         
        transition: 0.5s;
      }
    .dropdown:hover .dropdown-content {
          display: block;
      }
    .dropdown:hover .dropbtn {
          background-color: #fff;
          color: #000;
          transition: 0.2s;
          border-radius: 3px;
      }
    @media screen and (max-width: 600px) {
      .navbar-brand{
        font-size: 14px;
        margin-right: 10px;
      }
      .dropbtn,.dropdown-content{
        font-size: 12px;
      }
      .dropdown-content {      
        min-width: 100px;
      }
      .dropdown-content a {
        color: #000;
        background-color: #f1f1f1;
        padding: 5px 16px;
      }